includeConfig "environment.config"

params {
    fasta = "/mnt/c/Users/abc/Desktop/Nextflow/bwa_mem/reference/example_human_reference.fasta"
    fastq = "/mnt/c/Users/abc/Desktop/Nextflow/bwa_mem/reads/example_human_Illumina.pe_1.fastq"
    dbsnp = "/mnt/c/Users/abc/Desktop/vezbanje/test.dbsnp.vcf"
    index = "/mnt/c/Users/abc/Desktop/Nextflow/bwa_mem/reference/example_human_reference.fasta.fai"
    fasta_dict = "/mnt/c/Users/abc/Desktop/Nextflow/bwa_mem/reference/example_human_reference.dict"

}
