profiles {

  standard {
        process.executor = 'local'
        docker.enabled = true
    }
}
 process {

        withName: SAMTOOLS_VIEW {
          cpus = 4
          memory = 4.GB
          container = 'samtools_docker:1.1'
         }
   }

 process {

         withName: BWA_MEM {
          cpus = 4
          memory = 4.GB
          container = 'samtools_docker:1.1'
                        }
              }

process {
        withName: Samtools_sort {
        cpus = 4
        memory = 4.GB
        container = 'samtools_docker:1.1'
        }
}

process {
        withName: MarkDuplicates {
        cpus = 4
        memory = 4.GB
        container = 'broadinstitute/gatk:latest'
        }
      }

process {
        withName: BaseRecalibrator {
        cpus = 4
        memory = 4.GB
        container = 'broadinstitute/gatk:latest'
        }
}

process {
        withName: ApplyBQSR {
        cpus = 4
        memory = 4.GB
        container = 'broadinstitute/gatk:latest'
        }
}
